*{
    margin: 0;
    padding: 0;
    color: #dbd1d1c9;
    font-family: 'Dancing Script', cursive;
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
}

.conteiner{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #242424, #100f10, #242424);
    padding: 10px;
}
/* cor dos botoes#b61717*/
.tag{
    width: 100%;
    max-width: 540px;
    background: #272727dc;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 7px;
}

