*{
    margin: 0;
    padding: 0;
    color: #dbd1d1c9;
    font-family: 'Dancing Script', cursive;
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
}

.conteiner{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #242424, #100f10, #242424);
    padding: 10px;
}
/* cor dos botoes#b61717*/

.tag,.playlist{
    width: 80%;
    height: 600px;

    max-width: 430px;
    position: relative;
    background: #272727dc;
    margin: 100px auto 20px;
    margin-top: 50px;
    padding: 40px 30px 70px;
    border-radius: 40px;
    overflow: auto;

    display: none;
  }
  
  #itensTag {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
/*itens da tag*/
.tag img{
    width: 100%;
    height: 300px;

    max-width: 300px;
    margin: 0;
    border-radius: 10px;
    position: absolute;
}

.description {
    width: 100%;
    max-width: 300px;
    font-size: 90%;
    bottom: 33%;
    word-wrap: break-word;
    position: absolute;

}

.duration{
    width: 300px;
    margin-top: 15px;
}
.countbar{
    width: 300px;
    height: 9px;
    border: 2px solid #b61717;
    border-radius: 5px;
    display: flex;
    align-items:center;
    justify-content: flex-start;
    position: absolute;
    bottom: 28%;
}
progress{
    height: 6px;
    width: 0;
    background-color: #b61717;
    border: #b61717;
}
.dot{
    width: 17px;
    height: 17px;
    background-color: #b61717;
    border-radius: 50%;
    margin-left: -2px;
}

.timesong{
    width: 300px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 23%;
}


/* botoes dentro da tag*/
.btnShowList{
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    top: 3%;
    right: 3%;
}
.btnShowList box-icon {
    transform: scale(1.5);
  }

.btntools{
    width: 100%;
    max-width: 300px;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 8%;
}
.btnsetaBack{
    cursor: pointer;
    transform: scaleX(-1);
}
.btnsetaPass{
    cursor: pointer;
}
.btnplay{
    cursor: pointer;
}
.btnpause{
    margin-bottom: -2px;
    display: none;
    cursor: pointer;

}