*{
    margin: 0;
    padding: 0;
    color: #dbd1d1c9;
    font-family: 'Dancing Script', cursive;
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
}

.conteiner{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #242424, #100f10, #242424);
    padding: 10px;
}
/* cor dos botoes#b61717*/
.tag{
    width: 100%;
    max-width: 540px;
    background: #272727dc;
    margin: 100px auto 20px;
    margin-top: 30px;
    padding: 40px 30px 70px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tag img{
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.description{
    width: 300px;
    margin-top: 20px;
    font-size: 20px;
}


.duration{
    width: 300px;
    margin-top: 15px;
}
.countbar{
    width: 300px;
    height: 9px;
    border: 2px solid #b61717;
    border-radius: 5px;
    display: flex;
    align-items:center;
    justify-content: flex-start;
}
progress{
    height: 6px;
    width: 50%;
    background-color: #b61717;
    border: #b61717;
}
.dot{
    width: 17px;
    height: 17px;
    background-color: #b61717;
    border-radius: 50%;
    margin-left: -2px;
}

.timesong{
    display: flex;
    width: 300px;
    justify-content: space-between;
    margin-top: 10px;
}

.btntools{
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
}
.btnseta{
    cursor: pointer;
}
.btnplay{
    cursor: pointer;
}
.btnpause{
    margin-bottom: -2px;
    display: none;
    cursor: pointer;

}